@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: thistle;
  --other-color: rgb(245, 245, 248);
  --font: "Barlow", sans-serif;
}

body {
  background-color: rgb(185, 157, 157);

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
}
h1 {
  font-family: "Tajawal", sans-serif;
  text-align: center;
}
h2 {
  font-family: "Tajawal", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: capitalize;
  background-color: rgb(140, 197, 140);
  box-shadow: 0 0 20px rgb(8, 1, 1);
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 2rem;
}
.card {
  background-color: var(--other-color);
  border-radius: 5px;
  min-height: 200px;
  display: grid;
  box-shadow: inset 0 0 2px black;
  cursor: pointer;
  transition: all 0.5s;
}
.card img {
  width: 100%;
  height: 190px;

  object-fit: cover;
  border-radius: 5px 5px 0 0;
  filter: saturate(0.5);
}
.card:hover {
  background-color: yellowgreen;
  box-shadow: 0 0 20px rgb(8, 1, 1);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.card:hover img {
  filter: saturate(1);
  box-shadow: 0 0 20px rgb(8, 1, 1);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.imgNumButton {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.imgNumButton img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  filter: saturate(0.5);
}
.imgNum {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
